name: Test

on: [push, pull_request]

jobs:

  test:
    # We want to run on external PRs, but not on our own internal PRs as they'll
    # be run by the push to the branch. Without this if check, checks are
    # duplicated since internal PRs match both the push and pull_request events.
    if:
      github.event_name == 'push' ||
      github.event.pull_request.head.repo.full_name != github.repository

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}
          miniforge-variant: Mambaforge
          miniforge-version: latest

      - name: Install nox
        run: pip install nox

      - name: Test
        run: nox -s test

  test-notebooks:
    name: Test the notebooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: "3.11"
          miniforge-variant: Mambaforge
          miniforge-version: latest

      - name: Install nox
        run: pip install nox

      - name: Test
        run: nox -s test-notebooks
